# ignore these types of file
Kmeans/output/*.txt
Kmeans/output/*.png
Kmeans/output/*.asv
Kmeans/output/img/
VCpp/bigJob/Debug/
VCpp/bigJob/ipch/
VCpp/bigJob/bigJob.sdf
VCpp/bigJob/bigJob/Debug/
*.mp4
*.avi